@import "tailwindcss";
@config "../tailwind.config.js";

html {
  direction: rtl;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
